APP_NAME=HomeSpend
ENV=production
TZ=America/Costa_Rica
FLASK_SECRET_KEY=change_me_long_secret_key_for_production

# Microsoft Identity
MS_TENANT_ID=common
MS_CLIENT_ID=your_client_id_here
MS_CLIENT_SECRET=your_client_secret_here
MS_REDIRECT_URI=https://dashboard.srv867766.hstgr.cloud/auth/callback
MS_SCOPES=offline_access Files.Read User.Read

# OneDrive file
ONEDRIVE_FILE_NAME=HomeSpend.xlsx
ONEDRIVE_FILE_PATH=/HomeSpend.xlsx

# App
APP_HOST=0.0.0.0
APP_PORT=8090
